{{#each details}}

    <h1>Details for {{this.title}}</h1>

    <p>Written by: {{this.author}}</p>

    {{!-- <a href="/books/edit/{{_id}}">Edit this book</a>

    <a href="/books/delete/{{_id}}">delete this book</a>
 --}}

{{/each}}
