<h2 style='font-size:1.8em; font-family:Times New Roman; text-decoration:underline'>Details</h2>

{{#each details}}

    <p style='font-size: 1.6em; font-family: Times New Roman; margin-top:50px; color: rgb(15, 13, 15)'>{{this.story}}</p>
    
{{/each}}

<a href="/stories" class="button">Back</a>