<h1>SignUp</h1>

<form action="/signup" method="POST">

	<label for="username" style='font-size:1.6em'>Username: </label>
	<input type="text" name="username" id="username" style='width: 300px; height:40px'>

	<label for="password" style='font-size:1.6em'>Password: </label>
	<input type="password" name="password" id="password" style='width: 300px; height:40px'>

	<button type="submit" style='background-color: rgb(150, 85, 181); color:white; width:100px; height:40px; font-size:1.2em; margin-left:5px'>Sign up</button> <br>
    
{{#if message}}
	<p style="color: red">{{message}}</p>
{{/if}}

</form>

<a href="/stories" class="button">Back</a>

<img src="/images/surface-8HPLpr3hebU-unsplash.jpg" class="img-login">