<h1>Stories</h1>

{{#each storyList}}

   <a href="/stories/{{_id}}">
   
   <p> title:
       <br> <span style="color: black;font-weight:bold"></span> {{title}} </span> 
   </p>

   <p> author:
       <br> <span style="color: black;font-weight:bold"></span> {{author}} </span> 
   </p>
        
{{/each}}

 



