<div id = "left">
    <h1>Stories</h1>
    <h3>BERLINERS have been wanting to share .. WITH YOU.</h3>   
</div>


<div id='map' style='width: 80vw; height: 80vh;'></div>

<script src="/js/mapbox.js"></script>

<a href="/signup" class="button1">signup</a>
<a href="/login" class="button">login</a>

<div id="footer" style="text-align: center;">
    <h3>Its easy ... To share YOUR story, just create an account.</h3>
</div>
    




 
{{!-- 
{{#each storyList}}
   <a href="/stories/{{_id}}">
   
   <p> title:
       <br> <span style="color: black;font-weight:bold"></span> {{title}} </span> 
   </p>
   </a>
   <p> author:
       <br> <span style="color: black;font-weight:bold"></span> {{author}} </span> 
   </p>
   <p> location:
       <br> <span style="color: black;font-weight:bold"></span> {{city}} </span> 
   </p>
{{/each}}  
--}} 
