body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

body{
  background-color: grey;
}

#map{
  margin: 0 auto;
}

#left{
  margin-left: 100px;
}

.foto{
  margin-top: 100px;
  height: 400px;
  margin-left: 450px;
}

.button {
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 80px;
  height: 20px;
  position: absolute;
  top: 100px;
  right: 200px;
}

.button1 {
  background-color: green; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 80px;
  height: 20px;
  position: absolute;
  top: 100px;
  right: 400px;
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .center {
    width: 100%;
  }
}

html {
  min-width: fit-content;
}

